.MoviesCardsContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
    margin: 0px 30px 0px 30px;
    text-align: center;
}

.sort {
    text-align: left;
    padding: 0px 0px 15px 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid black 1px;
    color: black;
    margin-bottom: 20px;
}

.sort-by {
    margin: 0px 10px 0px 0px;
    color: black;
}

#sort-title-button,
#sort-rating-button {
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 3px 3px rgb(0 0 0 / 20%), -1px -1px 4px rgb(0 0 0 / 20%)
}

.sort-button {
    margin: 0px 10px 0px 0px;
}

.sort-button:hover {
    cursor: pointer;
}

.sortButtons {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.pressed {
    opacity: .3;
}


h4 {
    font-size: 20px;
}

h2 {
    margin: 25px 0px 0px 0px;
}
