.image-rating {
    height: 60px;
}

.poster {
    height: 300px;
    border: solid black 1px;
    box-shadow: 5px 5px 10px 5px rgb(43, 41, 41);
}

.poster:hover {
    cursor: pointer;
    border: solid 1px rgb(216, 58, 58);
    opacity: 85%;
}

.section-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 0px 10px 20px 0px;
}

.poster-title {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h4 {
    font-size: 16px;
    font-weight: bold;
    height: 20px;
}


